body {
  text-align: center;
}
.background-1 {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.jpg");
  color: white;
}
#top h1 {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
}
#top a {
  font-family: Helvetica;
  font-size: 18px;
  display: block;
}
#process h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}
p {
  font-family: Helvetica;
  font-size: 14px;
}
#footer {
  background-color: dimgray;
}
#footer p {
  font-family: Helvetica;
  font-size: 11px;
  color: white;
}
#footer a {
  display: inline;
}
